body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
}

h1 {
    color: #333;
}

form {
    background: green;
    padding: 20px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
